# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Models
*.pkl
*.joblib
models/
checkpoints/

# ML experiments
runs/
logs/
wandb/

# Test
.pytest_cache/

# Build
build/
dist/
*.egg-info/
